
<!DOCTYPE html>

<html>

<head>


<title>The Leafy Campus</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="lcx/InnerAccordion.js"></script>


<link href="lcx/lcnew.css" rel="stylesheet" type="text/css" media="all"></link>

<link href="lcx/InnerAccordion.css" rel="stylesheet" type="text/css" media="screen"></link>




<!-- Bootstrap Core CSS -->
<link href="lcx/bootstrap.css" rel="stylesheet"></link>

<!-- Custom CSS -->
<link href="lcx/clean-blog-lc.min.css" rel="stylesheet"></link>

<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'></link>
<!-- 
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
-->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- jQuery
<script src="js/jquery.js"></script>
 -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>
</head>


<body>

	<header class="intro-header" style="background-image: url('img/lc-home-bg1.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 ">
					<div class="site-heading">
						<h1 th:text="${message.page_title}"></h1>
						<hr class="small"></hr>
						<span class="subheading" th:text="${message.page_sub_title}"></span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row" style="background-color:white;">
			<div class="col1-lg-2  col1-md-2 ">
				<script type="text/javascript">
					$(document).ready(function() {
						setupRotator();
					});
					function setupRotator() {
						if ($('.textItem').length > 1) {
							$('.textItem:first').addClass('current').fadeIn(
									1000);
							setInterval('textRotate()', 25000);
						}
					}
					function textRotate() {
						var current = $('#quotes > .current');
						if (current.next().length == 0) {
							current.removeClass('current').fadeOut(1000);
							$('.textItem:first').addClass('current').fadeIn(
									1000);
						} else {
							current.removeClass('current').fadeOut(1000);
							current.next().addClass('current').fadeIn(1000);
						}
					}
				</script>
				<style type="text/css" media="screen">
#quotes {
	margin: 0;
	position: relative;
}

.textItem {
	position: absolute;
	display: none;
	width: 100%;
}

.textItem p {
	font-weight: bold;
}

.fr {
	font-weight: normal !important;
	margin-right: 10px;
}
</style>




					<div id="menu">
						<ul>
							<lh> <a style="cursor: pointer;" onclick="return form_action_load('','pages','vision','view',0);">Vision</a> </lh>
							<lh> <a style="cursor: pointer;" onclick="return form_action_load('','pages','management','view',0);">Management</a> </lh>
						</ul>
						<ul>
							<!--<lh >
			<a style="cursor: pointer;" onclick="return form_action_load('','pages','education','view',0);">Education</a>
		</lh>-->
							<lh>
							<a>Education</a></lh>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','curriculum','view',0);">Curriculum</a></li>
							<!--<li >
			<a style="cursor: pointer;" onclick="return form_action_load('','pages','assessment','view',0);">Assessment &amp; Exams</a>
		</li>-->
							<li><a style="cursor: pointer;" href="http://www.cisce.org/" target="_blank">ICSE | ISC Syllabus</a></li>
							<!--<li >
			<a style="cursor: pointer;" onclick="return form_action_load('','pages','icse','view',0);">ICSE | ISC Syllabus</a>
		</li>-->
						</ul>
						<ul>
							<lh> <a style="cursor: pointer;">Admissions</a> </lh>
							<!--<lh><a>Admissions</a></lh>
		<li >
			<a style="cursor: pointer;" onclick="return form_action_load('','pages','adm_prcdr','view',0);">Admission Procedure</a>
		</li>
		<li >
			<a style="cursor: pointer;" onclick="return form_action_load('','pages','application','view',0);">Application Form</a>
		</li>-->
						</ul>
						<ul>
							<lh>
							<a>Organization</a></lh>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','life','view',0);">Life at Leafy Campus</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','Organization_calendar','view',0);">Organization Values</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','cal_evnt','view',0);">Liberal Education</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','news','view',0);">Resources</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','tour','view',0);">Activities</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','gallery','view',0);">Photo Gallery</a></li>
						</ul>
						<ul>
							<lh>
							<a>Publications</a></lh>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','creative_corner','view',0);">Plansr</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','stud_article','view',0);">Strategy</a></li>
						</ul>
						<ul>
							<lh>
							<a>Faculty</a></lh>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','staff','view',0);">Contact</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','staff_vacancy','view',0);">Our Story</a></li>
						</ul>
						<ul>
							<lh>
							<a>Alumni</a></lh>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','network','view',0);">Network</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','register','view',0);">Register</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','login','view',0);">Login</a></li>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','alu_evnt','view',0);">Alumni Events</a></li>
						</ul>
						<ul>
							<lh> <a style="cursor: pointer;" onclick="return form_action_load('','pages','contactus','view',0);">Contact</a> </lh>
						</ul>
					</div>

				</div>
				<div class="col-lg-8  col-md-7 ">
					<div id="content1" style="border-right-style:solid;border-right-width:1px;border-right-color:yellow;">
						
						<h3>
							<span style="font-size: 16px;"><span style="font-family: verdana, geneva, sans-serif;"><strong>Welcome to  the Leafy Campus Organization!</strong></span></span>
						</h3>
						<p>
							<br /> <span style="font-size: 12px;"><span style="font-family: verdana, geneva, sans-serif;">Leafy Campus Organization was
									founded in 2015</span></span>
						</p>
						<p>
							<span style="font-size: 12px;"><span style="font-family: verdana, geneva, sans-serif;">
							Welcome to the leafy campus foundation.
							<br /> <br /> <strong>Do watch this video to get a
										glimpse of Leafy Campus <br /> <br /> <a href="http://youtu.be/"
										style="font-family: verdana, geneva, sans-serif; font-size: 12px;" target="_blank">Leafy Campus on YouTube!</a>
								</strong>
							</span></span>
						</p>
					</div>
				</div>
				<div class="col-lg-2  col-md-2 ">
					<div id="news-section1">
						<H3>News</H3>
						<ul>
						</ul>
						<a style="cursor: pointer; font-size: 12px; text-decoration: underline;" onclick="return form_action_load('','pages','news','view',0);">More
							News</a>
					</div>
				</div>
			
		</div>
		<div class="row">
		<div id="footer">
			<!-- Footer start -->
			<p>
				&copy; Leafy Campus Organization, Chennai <br></br> Best viewed on Mozilla Firefox / Google Chrome / Internet Explorer 9.0 and above
			</p>
			<!-- Footer end -->
		</div>
		</div>
	</div>
</body>

</html>