<!DOCTYPE html>
<html>
<head>

<title>Hello jQuery</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript">
        tinymce.init({
        	  plugins: "image",
              image_list: [ 
                  {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'}, 
                  {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'} 
              ],             
            selector: "#mytextarea",
            content_css : "/css/clean-blog.min.css" 
            
        });
        function loadajax1($scope, $http) {
            $.ajax('http://mergersandamalgamations.com/admin/').success(function(data) {
               $scope.$apply(function(){
            $scope.content= data;
        	});
            });
        }
        
        function loadContent() {
        $(document).ready(function(){        	
        	   loadajax1($scope, $http);
        	 $("#myTextArea").val({{content}});

        	});
        }
        function loadContent1() {
        	var form = document.getElementById('form1');
        	alert(form.getAttribute("action"));
        	form.setAttribute("action","@{../admin/edit}");
        	alert(form.getAttribute("action"));
        	form.submit();
        }
        
        
    </script>
<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>

<!-- Custom CSS -->
<link th:href="@{/css/clean-blog.min.css}" rel="stylesheet"></link>

<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'></link>

</head>

<body>
<script>
    var greet='';
		$(document).ready(function(){
		  $("#select1").change(function(){
			  var msg= 'Select  '+ $(this).attr('id')+'   '+ $(this).val();
		  $("#myEdit").html(msg);
		  $("#mytextarea").val("new text");
		
		  });
		});
		$(document).ready(function(){
		$("#fetch1").click(function(){
		    $.ajax({url: "http://localhost:8082/admin/edit?fileName"+ $("#fileName").val(),async: false, 
		    	success: function(result){
		    		alert(result);
		        $("#mytextarea").val(result);
		    }});
		   
		});
		});
		
		function update(inputId) {
			// alert('making call');
			  $.ajax({
			    type: 'GET',
			    dataType: 'json',
			    url:"http://localhost:8081/"+"/"+$("#"+inputId).val()+$("#select1").val(),
			    timeout: 600000,
			    success: function(data, textStatus ){
			       $("#mytextarea").val(JSONstringify(data));
			    },
			    error:function(exception){alert('Exeption:'+exception);}
			  });
			}
			
		function JSONstringify(json) {
		    if (typeof json != 'string') {
		        json = JSON.stringify(json, undefined, '\t');
		    }

		    json = json.replace(/\"/g, "");
		    json = json.replace(/\,/g, "");
		    
		   
		    return json;
		}
		
	
		
	</script>
<button  id="fetch1">Fetch</button>
	<form id="form1" action="#" th:action="@{../admin/contentSubmit}" method="post">
		<div class="container">
			<div class="row">

				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<table>
					<tr>
						<td>
							<p>
							<h3>Post Content (use filename format eg M_C01)</h3>
							</p>
							<p>
								FileName : <input id="fileName" th:name="input" th:field="${content.meta}" maxlength="100" />
							</p>
						</td>
						<td><br></br> <button  id="fetch" onClick="loadContent()">Fetch</button></td>
					</tr>
				</table>
				<p>
					<textarea id="mytextarea" th:field="*{content.htmlContent}" cols="80" rows="40"></textarea>
					<br></br> <input type="submit" id="doUpdate" name="_eventId_updateData" value="POST" />
				</p>

			</div>
		</div>
	</form>
</body>
</html>